AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET
AWS_REGION=eu-west-1

SNOWFLAKE_USER=YOUR_USER
SNOWFLAKE_PASSWORD=YOUR_PASSWORD
SNOWFLAKE_ACCOUNT=YOUR_ACCOUNT
SNOWFLAKE_WAREHOUSE=AECOM_WH
SNOWFLAKE_DATABASE=AECOM_DB
SNOWFLAKE_SCHEMA=FLOOD_MONITORING